---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta name="google-site-verification" content="OQLig50KpDOXxPH9YgLGH1ZAPbBaO6singn7luvINlo" />
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
<!-- 不蒜子页面访问量统计 -->
<div align="center">
  <span id="busuanzi_container_site_pv" style="display:inline">
    👁️‍🗨️ 本站总访问量：<span id="busuanzi_value_site_pv"></span>
  </span>
  |
  <span id="busuanzi_container_site_uv" style="display:inline">
    👥 本站访客数：<span id="busuanzi_value_site_uv"></span>
  </span>
</div>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>


    
  </body>
</html>
